<div class="graph-traces-container">
  <div class="chart-container" id="chartContainer">
    <!-- chart box -->
    <div class="drag-box" id="chartBox"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable
         rzContainment="#chartContainer">
      <div class="drag-box--content">
        <div #chart id="chart"></div>
      </div>
      <div class="drag-box--handler" (dblclick)="resetBox('chartBox')" cdkDragHandle></div>
    </div>
    <!-- legend box -->
    <div class="drag-box" id="legendBox" [style.visibility]="isVisibleLegend ? 'visible' : 'hidden'"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable rzContainment="#chartContainer">
      <div class="drag-box--content">
        <div *ngFor="let event of events">
          <mat-icon [style.color]="eventsColorMapForHtml.get(event)" style="font-size: 18px; display: inline; vertical-align: center;">label</mat-icon>
          <span style="line-height: 1; font-size: 12px">{{ event }}</span>
        </div>
      </div>
      <div class="drag-box--handler" (dblclick)="resetBox('legendBox')" cdkDragHandle></div>
    </div>
    <!-- case box -->
    <div class="drag-box" id="caseBox" [style.visibility]="isVisibleCaseEventsExplorer ? 'visible' : 'hidden'"
         cdkDrag cdkDragBoundary=".chart-container"
         (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded($event)"
         ngResizable rzContainment="#chartContainer">
      <div class="drag-box--content">
        <app-graph-cases [cases]="cases" class="appGraphCases"></app-graph-cases>
      </div>
      <div class="drag-box--handler" (dblclick)="resetBox('caseBox')" cdkDragHandle></div>
    </div>
  </div>
</div>
