<h2 mat-dialog-title>Privacy-aware Role Mining</h2>
<mat-dialog-content class="mat-typography">
  Select the technique of privacy-aware role mining:<br />
  <mat-select placeholder="Selected method" [(value)]="technique">
    <mat-option value="fixed_value">Fixed Value</mat-option>
    <mat-option value="selective">Selective</mat-option>
    <mat-option value="frequency_based">Frequency based</mat-option>
  </mat-select>
  <br /><br />
  <div [hidden]="!(technique == 'fixed_value')">
    <h3>Parameters for Fixed Value technique</h3>
    Number of substitutions: <input id="no_substitutions" matInput style="width: 80px; font-size: 13px" value="2"><br />
  </div>
  <div [hidden]="!(technique == 'selective')">
    <h3>Parameters for Selective technique</h3>
    <mat-radio-group aria-label="Selective options" [(value)]="selected_selective_option" (change)="changeSelectiveOption($event)">
      <mat-radio-button value="lowup">Lower and Upper Bound</mat-radio-button>
      <mat-radio-button value="low">Lower Bound</mat-radio-button>
      <mat-radio-button value="up">Upper Bound</mat-radio-button>
    </mat-radio-group>
  </div>
  <div [hidden]="!(technique == 'frequency_based')">
    <h3>Parameters for Frequency-based technique</h3>
    Fixed value: <input id="fixed_value" matInput style="width: 80px; font-size: 13px" value="0"><br />
  </div>
  <br /><br />
  <mat-checkbox [(checked)]="resource_aware" (change)="changeResourceAware()">Privacy-preserving is resource aware</mat-checkbox>
  <mat-checkbox  [(checked)]="hashed_activities" (change)="changedHashedActivities()">Hash activities</mat-checkbox>
  <br /><br />
  <table style="border: 0">
    <tr>
      <td style="width: 250px; font-size: 7pt">
        <b>Trace attributes:</b><br />
        <table>
          <tr *ngFor="let ea of traceAttributesList">
            <td>
              <input type="checkbox" (click)="addRemoveTraceAttribute(ea)">
            </td>
            <td>
              {{ea}}
            </td>
          </tr>
        </table>
      </td>
      <td style="width: 250px; font-size: 7pt">
        <b>Event attributes:</b><br />
        <table>
          <tr *ngFor="let ea of attributesList">
            <td>
              <input type="checkbox" (click)="addRemoveEventAttribute(ea)">
            </td>
            <td>
              {{ea}}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="applyFilter()">Apply</button>
</mat-dialog-actions>

